{% extends 'base.html' %}

{% block content %}

<h1 class="header">Welcome to MyBlogSpace</h1>
<p class="article">Read and share amazing stories!</p>

<div class="blog-container">

    {% for blog in blogs %}

    <div class="blog-card">

        {% if blog.image %}
            <img src="{{ blog.image.url }}" width="300">
        {% endif %}

        <h2>
           <a href="{% url 'blog_detail' blog.id %}">
              {{ blog.title }}
           </a>
        </h2>

        <p>{{ blog.content }}</p>

        <p>Author: {{ blog.author.username }}</p>

        <p>Created: {{ blog.created_at }}</p>

    </div>

    {% endfor %}

</div>

{% endblock %}
   