{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="login-page">

    <div class="login-container">

        <h1>Login</h1>

        <form method="post">
            {% csrf_token %}

            <label>Username</label>
            <input type="text" name="username" placeholder="Enter username">

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password">

            <button type="submit">Login</button>
        </form>

        <p class="register-text">
            Don't have an account?
            <a href="/register/">Register</a>
        </p>

    </div>

</div>

{% endblock %}